<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
        <listener class-name="com.SRIS.Listeners.TestListener"/>
       
    </listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.SRIS.Ethnicity.Duplicate"/>
      <!--  
      <class name="com.SRIS.Crop.WhiteSpace"/>
      <class name="com.SRIS.ChronicIllness.Length"/>
      <class name="com.SRIS.DisposeOfRubbish.Mandatory"/>
      <class name="com.SRIS.Demography.WhiteSpace"/>
      <class name="com.SRIS.OccupancyStatus.AlphaNumeric"/>
      <class name="com.SRIS.ReasonNotWorking.Mandatory"/>
      <class name="com.SRIS.WorkingSector.WhiteSpace"/>
      <class name="com.SRIS.MainDrinkingSource.AlphaNumeric"/>
      <class name="com.SRIS.Crop.SqlChar"/>
      <class name="com.SRIS.Demography.Mandatory"/>
      <class name="com.SRIS.RelationMaster.SpecialChar"/>
      <class name="com.SRIS.CookingFuel.SpecialChar"/>
      <class name="com.SRIS.WorkingFrequency.WhiteSpace"/>
      <class name="com.SRIS.Ethnicity.SpecialChar"/>
      <class name="com.SRIS.MainDrinkingSource.SqlChar"/>
      <class name="com.SRIS.MainJobActivity.WhiteSpace"/>
      <class name="com.SRIS.ReasonNotWorking.Duplicate"/>
      <class name="com.SRIS.ReasonNeverAttendSchool.SqlChar"/>
      <class name="com.SRIS.MaritalStatusMaster.SqlChar"/>
      <class name="com.SRIS.DistanceType.Duplicate"/>
      <class name="com.SRIS.ResidenceStatus.AlphaNumeric"/>
      <class name="com.SRIS.IncomeSource.WhiteSpace"/>
      <class name="com.SRIS.IncomeSource.Length"/>
      <class name="com.SRIS.OrganizatonType.Length"/>
      <class name="com.SRIS.ShockSeverityType.Length"/>
      <class name="com.SRIS.AidFrequency.WhiteSpace"/>
      <class name="com.SRIS.Ethnicity.Mandatory"/>
      <class name="com.SRIS.ToiletType.Mandatory"/>
      <class name="com.SRIS.LiveStock.Length"/>
      <class name="com.SRIS.LiveStock.Mandatory"/>
      <class name="com.SRIS.ReasonStopSchool.AlphaNumeric"/>
      <class name="com.SRIS.ReasonNotWorking.Length"/>
      <class name="com.SRIS.RelationMaster.Mandatory"/>
      <class name="com.SRIS.Ethnicity.SqlChar"/>
      <class name="com.SRIS.WorkingFrequency.Length"/>
      <class name="com.SRIS.FloorMaterial.Length"/>
      <class name="com.SRIS.Nationality.Mandatory"/>
      <class name="com.SRIS.ShockSeverityType.Duplicate"/>
      <class name="com.SRIS.ReasonStopSchool.SqlChar"/>
      <class name="com.SRIS.AidType.AlphaNumeric"/>
      <class name="com.SRIS.IncomeSource.SpecialChar"/>
      <class name="com.SRIS.ReasonNotWorking.SqlChar"/>
      <class name="com.SRIS.Demography.SpecialChar"/>
      <class name="com.SRIS.MainLightingSource.Duplicate"/>
      <class name="com.SRIS.ResidenceStatus.SpecialChar"/>
      <class name="com.SRIS.SeeingDifficulty.Length"/>
      <class name="com.SRIS.Shock.AlphaNumeric"/>
      <class name="com.SRIS.LiveStock.Duplicate"/>
      <class name="com.SRIS.SeeingDifficulty.Duplicate"/>
      <class name="com.SRIS.SeeingDifficulty.AlphaNumeric"/>
      <class name="com.SRIS.RelationMaster.Duplicate"/>
      <class name="com.SRIS.LivelihoodType.WhiteSpace"/>
      <class name="com.SRIS.ToiletType.Duplicate"/>
      <class name="com.SRIS.WorkingStatus.Duplicate"/>
      <class name="com.SRIS.OrganizatonType.SpecialChar"/>
      <class name="com.SRIS.DistanceType.SpecialChar"/>
      <class name="com.SRIS.DistanceType.Mandatory"/>
      <class name="com.SRIS.RoofMaterial.AlphaNumeric"/>
      <class name="com.SRIS.ToiletType.WhiteSpace"/>
      <class name="com.SRIS.CookingFuel.Mandatory"/>
      <class name="com.SRIS.RelationMaster.AlphaNumeric"/>
      <class name="com.SRIS.CookingFuel.AlphaNumeric"/>
      <class name="com.SRIS.PMTMaster.SpecialChar"/>
      <class name="com.SRIS.ShockSeverityType.SpecialChar"/>
      <class name="com.SRIS.MainLightingSource.SqlChar"/>
      <class name="com.SRIS.OccupancyStatus.Mandatory"/>
      <class name="com.SRIS.CookingFuel.WhiteSpace"/>
      <class name="com.SRIS.OrganizatonType.AlphaNumeric"/>
      <class name="com.SRIS.MainJobActivity.AlphaNumeric"/>
      <class name="com.SRIS.LivelihoodType.SpecialChar"/>
      <class name="com.SRIS.MainJobActivity.Length"/>
      <class name="com.SRIS.LiveStock.SqlChar"/>
      <class name="com.SRIS.CopingStrategyType.Mandatory"/>
      <class name="com.SRIS.Crop.Length"/>
      <class name="com.SRIS.WorkingStatus.WhiteSpace"/>
      <class name="com.SRIS.AidType.WhiteSpace"/>
      <class name="com.SRIS.ReasonStopSchool.SpecialChar"/>
      <class name="com.SRIS.RelationMaster.WhiteSpace"/>
      <class name="com.SRIS.Nationality.Duplicate"/>
      <class name="com.SRIS.CookingFuel.Duplicate"/>
      <class name="com.SRIS.WorkingStatus.Length"/>
      <class name="com.SRIS.CopingStrategyType.WhiteSpace"/>
      <class name="com.SRIS.WorkingStatus.Mandatory"/>
      <class name="com.SRIS.WorkingStatus.SqlChar"/>
      <class name="com.SRIS.ToiletType.AlphaNumeric"/>
      <class name="com.SRIS.AidType.Mandatory"/>
      <class name="com.SRIS.Ethnicity.Length"/>
      <class name="com.SRIS.Nationality.WhiteSpace"/>
      <class name="com.SRIS.MainDrinkingSource.Duplicate"/>
      <class name="com.SRIS.WallMaterial.WhiteSpace"/>
      <class name="com.SRIS.ReasonNeverAttendSchool.WhiteSpace"/>
      <class name="com.SRIS.IncomeSource.Duplicate"/>
      <class name="com.SRIS.WallMaterial.Mandatory"/>
      <class name="com.SRIS.MainDrinkingSource.Mandatory"/>
      <class name="com.SRIS.AidType.Length"/>
      <class name="com.SRIS.ResidenceStatus.Length"/>
      <class name="com.SRIS.WorkingStatus.SpecialChar"/>
      <class name="com.SRIS.WorkingFrequency.SqlChar"/>
      <class name="com.SRIS.Demography.Length"/>
      <class name="com.SRIS.AidFrequency.AlphaNumeric"/>
      <class name="com.SRIS.CopingStrategyType.Duplicate"/>
      <class name="com.SRIS.PMTMaster.Mandatory"/>
      <class name="com.SRIS.LevelGrade.SpecialChar"/>
      <class name="com.SRIS.FloorMaterial.AlphaNumeric"/>
      <class name="com.SRIS.WorkingFrequency.SpecialChar"/>
      <class name="com.SRIS.Ethnicity.AlphaNumeric"/>
      <class name="com.SRIS.MainLightingSource.SpecialChar"/>
      <class name="com.SRIS.MainLightingSource.WhiteSpace"/>
      <class name="com.SRIS.CopingStrategyType.Length"/>
      <class name="com.SRIS.DocumentType.WhiteSpace"/>
      <class name="com.SRIS.DisposeOfRubbish.WhiteSpace"/>
      <class name="com.SRIS.MainLightingSource.Length"/>
      <class name="com.SRIS.Demography.AlphaNumeric"/>
      <class name="com.SRIS.IncomeSource.Mandatory"/>
      <class name="com.SRIS.RoofMaterial.SpecialChar"/>
      <class name="com.SRIS.AidType.SqlChar"/>
      <class name="com.SRIS.AidType.Duplicate"/>
      <class name="com.SRIS.ReasonNeverAttendSchool.Length"/>
      <class name="com.SRIS.LiveStock.SpecialChar"/>
      <class name="com.SRIS.WorkingFrequency.Mandatory"/>
      <class name="com.SRIS.DocumentType.AlphaNumeric"/>
      <class name="com.SRIS.AidType.SpecialChar"/>
      <class name="com.SRIS.CopingStrategyType.SqlChar"/>
      <class name="com.SRIS.LevelGrade.Mandatory"/>
      <class name="com.SRIS.SeeingDifficulty.SqlChar"/>
      <class name="com.SRIS.ReasonNeverAttendSchool.Mandatory"/>
      <class name="com.SRIS.ChronicIllness.Mandatory"/>
      <class name="com.SRIS.MainDrinkingSource.Length"/>
      <class name="com.SRIS.WorkingSector.Mandatory"/>
      <class name="com.SRIS.OrganizatonType.Duplicate"/>
      <class name="com.SRIS.DistanceType.SqlChar"/>
      <class name="com.SRIS.Crop.Duplicate"/>
      <class name="com.SRIS.MaritalStatusMaster.SpecialChar"/>
      <class name="com.SRIS.DocumentType.Length"/>
      <class name="com.SRIS.MaritalStatusMaster.AlphaNumeric"/>
      <class name="com.SRIS.Shock.WhiteSpace"/>
      <class name="com.SRIS.Nationality.AlphaNumeric"/>
      <class name="com.SRIS.Nationality.Length"/>
      <class name="com.SRIS.ShockSeverityType.SqlChar"/>
      <class name="com.SRIS.WorkingSector.AlphaNumeric"/>
      <class name="com.SRIS.LivelihoodType.SqlChar"/>
      <class name="com.SRIS.IncomeSource.SqlChar"/>
      <class name="com.SRIS.PMTMaster.SqlChar"/>
      <class name="com.SRIS.MaritalStatusMaster.Mandatory"/>
      <class name="com.SRIS.SeeingDifficulty.WhiteSpace"/>
      <class name="com.SRIS.WorkingSector.SqlChar"/>
      <class name="com.SRIS.LevelGrade.Length"/>
      <class name="com.SRIS.ReasonNotWorking.AlphaNumeric"/>
      <class name="com.SRIS.SeeingDifficulty.SpecialChar"/>
      <class name="com.SRIS.ReasonStopSchool.Mandatory"/>
      <class name="com.SRIS.ReasonNeverAttendSchool.AlphaNumeric"/>
      <class name="com.SRIS.ReasonNeverAttendSchool.Duplicate"/>
      <class name="com.SRIS.LevelGrade.Duplicate"/>
      <class name="com.SRIS.CookingFuel.SqlChar"/>
      <class name="com.SRIS.WorkingSector.Duplicate"/>
      <class name="com.SRIS.ChronicIllness.AlphaNumeric"/>
      <class name="com.SRIS.DistanceType.Length"/>
      <class name="com.SRIS.OrganizatonType.Mandatory"/>
      <class name="com.SRIS.WorkingFrequency.Duplicate"/>
      <class name="com.SRIS.ChronicIllness.Duplicate"/>
      <class name="com.SRIS.DocumentType.Mandatory"/>
      <class name="com.SRIS.PMTMaster.Dropdown"/>
      <class name="com.SRIS.ToiletType.SqlChar"/>
      <class name="com.SRIS.LiveStock.AlphaNumeric"/>
      <class name="com.SRIS.MainLightingSource.AlphaNumeric"/>
      <class name="com.SRIS.LevelGrade.WhiteSpace"/>
      <class name="com.SRIS.WallMaterial.AlphaNumeric"/>
      <class name="com.SRIS.RoofMaterial.SqlChar"/>
      <class name="com.SRIS.LevelGrade.AlphaNumeric"/>
      <class name="com.SRIS.ResidenceStatus.WhiteSpace"/>
      <class name="com.SRIS.Crop.AlphaNumeric"/>
      <class name="com.SRIS.ReasonNotWorking.WhiteSpace"/>
      <class name="com.SRIS.ResidenceStatus.Mandatory"/>
      <class name="com.SRIS.Crop.Mandatory"/>
      <class name="com.SRIS.RelationMaster.Length"/>
      <class name="com.SRIS.ShockSeverityType.WhiteSpace"/>
      <class name="com.SRIS.OccupancyStatus.Length"/>
      <class name="com.SRIS.WallMaterial.SqlChar"/>
      <class name="com.SRIS.DistanceType.AlphaNumeric"/>
      <class name="com.SRIS.DocumentType.Duplicate"/>
      <class name="com.SRIS.FloorMaterial.WhiteSpace"/>
      <class name="com.SRIS.LiveStock.WhiteSpace"/>
      <class name="com.SRIS.ReasonNeverAttendSchool.SpecialChar"/>
      <class name="com.SRIS.Shock.SpecialChar"/>
      <class name="com.SRIS.WallMaterial.Dropdown"/>
      <class name="com.SRIS.OccupancyStatus.WhiteSpace"/>
      <class name="com.SRIS.Nationality.SpecialChar"/>
      <class name="com.SRIS.ToiletType.SpecialChar"/>
      <class name="com.SRIS.ChronicIllness.SpecialChar"/>
      <class name="com.SRIS.DocumentType.SqlChar"/>
      <class name="com.SRIS.Crop.SpecialChar"/>
      <class name="com.SRIS.DisposeOfRubbish.AlphaNumeric"/>
      <class name="com.SRIS.ChronicIllness.SqlChar"/>
      <class name="com.SRIS.Ethnicity.WhiteSpace"/>
      <class name="com.SRIS.ShockSeverityType.AlphaNumeric"/>
      <class name="com.SRIS.WorkingFrequency.AlphaNumeric"/>
      <class name="com.SRIS.MainJobActivity.Duplicate"/>
      <class name="com.SRIS.DisposeOfRubbish.SqlChar"/>
      <class name="com.SRIS.DisposeOfRubbish.Length"/>
      <class name="com.SRIS.ReasonStopSchool.Length"/>
      <class name="com.SRIS.WorkingSector.Length"/>
      <class name="com.SRIS.SeeingDifficulty.Mandatory"/>
      <class name="com.SRIS.ReasonStopSchool.WhiteSpace"/>
      <class name="com.SRIS.FloorMaterial.SpecialChar"/>
      <class name="com.SRIS.AidFrequency.Mandatory"/>
      <class name="com.SRIS.Shock.SqlChar"/>
      <class name="com.SRIS.FloorMaterial.Dropdown"/>
      <class name="com.SRIS.ResidenceStatus.SqlChar"/>
      <class name="com.SRIS.ToiletType.Length"/>
      <class name="com.SRIS.Demography.Dropdown"/>
      <class name="com.SRIS.MainJobActivity.Mandatory"/>
      <class name="com.SRIS.Shock.Mandatory"/>
      <class name="com.SRIS.MainJobActivity.SpecialChar"/>
      <class name="com.SRIS.WorkingStatus.AlphaNumeric"/>
      <class name="com.SRIS.AidFrequency.Duplicate"/>
      <class name="com.SRIS.LivelihoodType.AlphaNumeric"/>
      <class name="com.SRIS.RoofMaterial.WhiteSpace"/>
      <class name="com.SRIS.OccupancyStatus.Duplicate"/>
      <class name="com.SRIS.DisposeOfRubbish.SpecialChar"/>
      <class name="com.SRIS.OrganizatonType.WhiteSpace"/>
      <class name="com.SRIS.LivelihoodType.Duplicate"/>
      <class name="com.SRIS.PMTMaster.WhiteSpace"/>
      <class name="com.SRIS.ShockSeverityType.Mandatory"/>
      <class name="com.SRIS.LevelGrade.SqlChar"/>
      <class name="com.SRIS.WallMaterial.SpecialChar"/>
      <class name="com.SRIS.Test.Rough"/>
      <class name="com.SRIS.PMTMaster.Alphabets"/>
      <class name="com.SRIS.MainDrinkingSource.SpecialChar"/>
      <class name="com.SRIS.Shock.Length"/>
      <class name="com.SRIS.OrganizatonType.SqlChar"/>
      <class name="com.SRIS.MaritalStatusMaster.Length"/>
      <class name="com.SRIS.AidFrequency.SpecialChar"/>
      <class name="com.SRIS.Demography.SqlChar"/>
      <class name="com.SRIS.RoofMaterial.Length"/>
      <class name="com.SRIS.WorkingSector.SpecialChar"/>
      <class name="com.SRIS.RelationMaster.SqlChar"/>
      <class name="com.SRIS.DocumentType.SpecialChar"/>
      <class name="com.SRIS.Shock.Duplicate"/>
      <class name="com.SRIS.WallMaterial.Length"/>
      <class name="com.SRIS.ResidenceStatus.Duplicate"/>
      <class name="com.SRIS.ReasonStopSchool.Duplicate"/>
      <class name="com.SRIS.RoofMaterial.Dropdown"/>
      <class name="com.SRIS.FloorMaterial.Mandatory"/>
      <class name="com.SRIS.Nationality.SqlChar"/>
      <class name="com.SRIS.MainLightingSource.Mandatory"/>
      <class name="com.SRIS.DistanceType.WhiteSpace"/>
      <class name="com.SRIS.OccupancyStatus.SqlChar"/>
      <class name="com.SRIS.CopingStrategyType.SpecialChar"/>
      <class name="com.SRIS.RoofMaterial.Mandatory"/>
      <class name="com.SRIS.OccupancyStatus.SpecialChar"/>
      <class name="com.SRIS.FloorMaterial.SqlChar"/>
      <class name="com.SRIS.MaritalStatusMaster.WhiteSpace"/>
      <class name="com.SRIS.DisposeOfRubbish.Duplicate"/>
      <class name="com.SRIS.IncomeSource.AlphaNumeric"/>
      <class name="com.SRIS.MainDrinkingSource.WhiteSpace"/>
      <class name="com.SRIS.AidFrequency.SqlChar"/>
      <class name="com.SRIS.CopingStrategyType.AlphaNumeric"/>
      <class name="com.SRIS.MainJobActivity.SqlChar"/>
      <class name="com.SRIS.ReasonNotWorking.SpecialChar"/>
      <class name="com.SRIS.CookingFuel.Length"/>
      <class name="com.SRIS.LivelihoodType.Mandatory"/>
      <class name="com.SRIS.ChronicIllness.WhiteSpace"/>
      <class name="com.SRIS.AidFrequency.Length"/>
      <class name="com.SRIS.LivelihoodType.Length"/>
      -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
